body {
    overflow: hidden;
    background-color: #1c5ffe;
    color: #fff;
}

.container_outer {
    transform-style: preserve-3d;
    perspective: 1000px;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    transform-style: preserve-3d;
    transform-origin: 50% 50% 1000px;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/*Walls*/

.main_wall {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.back {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    transform: translateZ(2000px);
}

.floor {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    transform: rotateX(-90deg);
    transform-origin: 50% 100% 0;
}

.top {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    transform: rotateX(90deg);
    transform-origin: 50% 0% 0;
}

.right_wall {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    transform: rotateY(90deg);
    transform-origin: 100% 50% 0;
}

.left_wall {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    transform: rotateY(-90deg);
    transform-origin: 0% 50% 0;
}

/*Equipment*/

.lab_stuff {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    transform-style: preserve-3d;
}

/*Holders*/
.holder_multiple_empty, .holder_multiple_full  {
    position: absolute;
    width: 18%;
    bottom: 19.6%;
    left: 65%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 10;
}

.holder_single_empty {
    position: absolute;
    width: 15%;
    bottom: 19.6%;
    left: 49%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 10;    
}

/*Test tubes*/

.tt_1 {
    position: absolute;
    width: 2.8%;
    bottom: 21.3%;
    left: 69%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;
    content: url("media/Lab_equip/Test tube - Clear Blue-01.svg");
}

.tt_2 {
    position: absolute;
    width: 2.8%;
    bottom: 21.3%;
    left: 72.5%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;
    content: url("media/Lab_equip/Test Tube - Clear Orange-01.svg");
}

.tt_3 {
    position: absolute;
    width: 2.8%;
    bottom: 21.3%;
    left: 76%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;
    content: url("media/Lab_equip/Test tube - Clear Green-01.svg");
}

/*Shelf equip*/

.beaker1{
    position: absolute;
    width: 7%;
    bottom: 32%;
    left: 9%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;
}

.beaker2 {
    position: absolute;
    width: 7%;
    bottom: 32%;
    left: 17%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;
}

.beaker3 {
    position: absolute;
    width: 7%;
    bottom: 32%;
    left: 25%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;  
}

.beaker4 {
    position: absolute;
    width: 7%;
    bottom: 17.5%;
    left: 9%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5; 
}

.beaker5 {
    position: absolute;
    width: 7%;
    bottom: 17.5%;
    left: 18%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;    
}

.beaker6 {
    position: absolute;
    width: 7%;
    bottom: 17.5%;
    left: 26%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;     
}

.beaker7 {
    position: absolute;
    width: 7%;
    bottom: 4%;
    left: 8%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;   
}

.beaker8 {
    position: absolute;
    width: 7%;
    bottom: 4%;
    left: 17%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5;   
}

.beaker9 {
    position: absolute;
    width: 7%;
    bottom: 4%;
    left: 27%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 5; 
}

/*Left Wall Shelf Equip*/

.left_wall_shelf {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    transform: rotateY(-90deg);
    transform-origin: 0% 50% 0;
}

.flask1 {
    position: absolute;
    width: 10%;
    top: 5%;
    left: 5%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

/*Test tube animations*/

@keyframes tt1 {
    0% {
        opacity: 1;
        content: url("media/Lab_equip/Test tube - Clear Blue-01.svg");
    }
    50% {
        opacity: 0;
    }
    100% {
        content: url("media/Lab_equip/Test tubes - Blue-01.svg");
        opacity: 1;
    }
}

@keyframes tt2 {
    0% {
        content: url("media/Lab_equip/Test Tube - Clear Orange-01.svg");
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        content: url("media/Lab_equip/Test tubes - Orange-01.svg");
        opacity: 1;
    }
}

@keyframes tt3 {
    0% {
        content: url("media/Lab_equip/Test tube - Clear Green-01.svg");
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        content: url("media/Lab_equip/Test Tubes-Green-01.svg");
        opacity: 1;
    }
}

/*Holder animation*/
@keyframes holder_single {
    0% {
        content: url("media/Lab_equip/Holder- Single Empty -01.svg");
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        content: url("media/Lab_equip/Holder- single-01.svg");
        opacity: 1;
    }
}

.table {
    width: 50%;
    height: 20%;
    margin: 30% 5%;
    display: inline-block;
    background-color: rgb(168, 39, 16);
}

.shelf {
    display: inline;
    height: 100%;
}

.shelf img {
    height: 100%;
    margin-left: -5%;
    transform: rotateY(90deg);
}

.directions {
    position: fixed;
    top: 1%;
    left: 1%;
    text-align: center;
    font-size: 1.4em;
}

.dirIndi {
    font-weight: bold;
}      

#wrapD3Cube {
    width: 250px;
    height: 213px;
    margin: 20px auto;
    background-color: #EEE;
}
#D3Cube {
    width: 112px;
    height: 112px;
    top: 50px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#D3Cube > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 112px;
    height: 112px;
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #FFF;
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #ffaf1c;
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(56px);
    background-color: #58d568;
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #ed3030;
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #1c5ffe;
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #f2f215;
}